$font-family: 'Poppins', 'Arial', sans-serif;

//colors
$white: #FFFFFF;
$dark-white: #A7AAAC;

$red: #ff0000;

$orange: #FF6E30;
$dark-orange: #FFA537;
$orange-blur: rgba(255, 110, 48, 0.6);

$dark-grey: #1d252c;
$greycard:#282f35;
$inputgrey:#283036;
$input-black:rgba(0, 0, 0, 0.25);
$like-shadow:rgba(18, 18, 18, 0.15);
$brand-grey:rgba(44, 53, 61, 0.2)
